<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="F1mpEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="F1mpEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <F1mpEditor.Properties.Settings>
            <setting name="UserGameFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserExecutableFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialRun" serializeAs="String">
                <value>True</value>
            </setting>
        </F1mpEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <F1mpEditor.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>F1MPEdit</value>
            </setting>
            <setting name="DefaultExecutableFileName" serializeAs="String">
                <value>f1.exe</value>
            </setting>
            <setting name="DefaultGameFolderPath" serializeAs="String">
                <value>C:\F1ManPro</value>
            </setting>
            <setting name="DefaultSavedGameFolderName" serializeAs="String">
                <value>SAVE</value>
            </setting>
            <setting name="GameName" serializeAs="String">
                <value>F1 Manager Professional</value>
            </setting>
        </F1mpEditor.Properties.Settings>
    </applicationSettings>
</configuration>